In [1]:
import pandas as pd
import numpy as np
import os
from tqdm.auto import tqdm

In [4]:
ori_strawberry = pd.read_csv('./strawberry.csv')
ori_strawberry.head()

,image,disease,area,grow,points
0,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'..."
1,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,4,"[{'xtl': 600, 'ytl': 1087, 'xbr': 1628, 'ybr':..."
2,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'..."
3,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,4,"[{'xtl': 662, 'ytl': 1252, 'xbr': 2129, 'ybr':..."
4,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ..."

In [7]:
ori_strawberry['image'] = ori_strawberry['image'].map(lambda x : x.split('/')[-1])
ori_strawberry.head()

,image,disease,area,grow,points
0,V006_77_0_00_04_01_13_0_b02_20201203_0000_S01_...,0,1,5,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'..."
1,V006_77_0_00_04_01_13_0_b02_20201203_0001_S01_...,0,1,4,"[{'xtl': 600, 'ytl': 1087, 'xbr': 1628, 'ybr':..."
2,V006_77_0_00_04_01_13_0_b02_20201203_0002_S01_...,0,1,5,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'..."
3,V006_77_0_00_04_01_13_0_b02_20201203_0003_S01_...,0,1,4,"[{'xtl': 662, 'ytl': 1252, 'xbr': 2129, 'ybr':..."
4,V006_77_0_00_04_01_13_0_b02_20201203_0004_S01_...,0,1,5,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ..."

In [6]:
aug_strawberry = pd.read_csv('./raw_csv/딸기_증강_라벨.csv')
aug_strawberry.head()

,image,original,disease,area,grow,points
0,V006_77_1_08_04_03_13_1_3321w_20201120_17_a000...,V006_77_1_08_04_03_13_1_3321w_20201120_17.jpg,8,3,13,"[{'xtl': 1136, 'ytl': 556, 'xbr': 3860, 'ybr':..."
1,V006_77_1_07_04_02_13_2_3248b_20201118_5_a0004...,V006_77_1_07_04_02_13_2_3248b_20201118_5.jpg,7,2,13,"[{'xtl': 421, 'ytl': 709, 'xbr': 873, 'ybr': 1..."
2,V006_77_1_07_04_02_13_1_4660w_20210104_125_a00...,V006_77_1_07_04_02_13_1_4660w_20210104_125.jpg,7,2,13,"[{'xtl': 1641, 'ytl': 196, 'xbr': 2917, 'ybr':..."
3,V006_77_1_07_04_02_13_1_4660w_20210104_124_a00...,V006_77_1_07_04_02_13_1_4660w_20210104_124.jpg,7,2,13,"[{'xtl': 572, 'ytl': 1449, 'xbr': 1635, 'ybr':..."
4,V006_77_1_07_04_02_13_3_1886w_20201223_70_a000...,V006_77_1_07_04_02_13_3_1886w_20201223_70.jpg,7,2,13,"[{'xtl': 838, 'ytl': 119, 'xbr': 2892, 'ybr': ..."

In [33]:
file_names = ori_strawberry['image'].to_list()
for row_idx in tqdm(range(len(aug_strawberry))):
    ori_img = aug_strawberry.loc[row_idx, 'original'] 
    if ori_img in file_names :
        aug_strawberry.loc[row_idx, 'grow'] = ori_strawberry.loc[file_names.index(ori_img), 'grow']

100%|███████████████████████████████████| 18110/18110 [00:17<00:00, 1050.96it/s]

In [34]:
aug_strawberry['grow'].unique()

array([1, 4, 2, 3, 5])

In [36]:
image_root_dir = '/home/lab38/images'
s_dir = os.path.join(image_root_dir,'딸기_증강')

aug_strawberry['image'] = aug_strawberry['image'].map(lambda x : os.path.join(s_dir, x))

display(aug_strawberry.head())

,image,original,disease,area,grow,points
0,/home/lab38/images/딸기_증강/V006_77_1_08_04_03_13...,V006_77_1_08_04_03_13_1_3321w_20201120_17.jpg,8,3,1,"[{'xtl': 1136, 'ytl': 556, 'xbr': 3860, 'ybr':..."
1,/home/lab38/images/딸기_증강/V006_77_1_07_04_02_13...,V006_77_1_07_04_02_13_2_3248b_20201118_5.jpg,7,2,4,"[{'xtl': 421, 'ytl': 709, 'xbr': 873, 'ybr': 1..."
2,/home/lab38/images/딸기_증강/V006_77_1_07_04_02_13...,V006_77_1_07_04_02_13_1_4660w_20210104_125.jpg,7,2,4,"[{'xtl': 1641, 'ytl': 196, 'xbr': 2917, 'ybr':..."
3,/home/lab38/images/딸기_증강/V006_77_1_07_04_02_13...,V006_77_1_07_04_02_13_1_4660w_20210104_124.jpg,7,2,4,"[{'xtl': 572, 'ytl': 1449, 'xbr': 1635, 'ybr':..."
4,/home/lab38/images/딸기_증강/V006_77_1_07_04_02_13...,V006_77_1_07_04_02_13_3_1886w_20201223_70.jpg,7,2,4,"[{'xtl': 838, 'ytl': 119, 'xbr': 2892, 'ybr': ..."

In [38]:
aug_strawberry.loc[0, 'image']

'/home/lab38/images/딸기_증강/V006_77_1_08_04_03_13_1_3321w_20201120_17_a0003.jpg'

In [39]:
aug_strawberry.to_csv('./aug_strawberry.csv', index=False)

# 상추

In [40]:
ori_lettuce = pd.read_csv('./lettuce.csv')
ori_lettuce.head()

,image,disease,area,grow,points
0,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 2034, 'ytl': 1153, 'xbr': 2436, 'ybr'..."
1,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1513, 'ytl': 676, 'xbr': 2325, 'ybr':..."
2,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1272, 'ytl': 1220, 'xbr': 2229, 'ybr'..."
3,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1244, 'ytl': 1326, 'xbr': 2136, 'ybr'..."
4,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1723, 'ytl': 1388, 'xbr': 2514, 'ybr'..."

In [41]:
ori_lettuce['image'] = ori_lettuce['image'].map(lambda x : x.split('/')[-1])
ori_lettuce.head()

,image,disease,area,grow,points
0,V006_77_0_00_05_03_11_0_b04_20201119_0000_S01_...,0,3,11,"[{'xtl': 2034, 'ytl': 1153, 'xbr': 2436, 'ybr'..."
1,V006_77_0_00_05_03_11_0_b04_20201119_0001_S01_...,0,3,11,"[{'xtl': 1513, 'ytl': 676, 'xbr': 2325, 'ybr':..."
2,V006_77_0_00_05_03_11_0_b04_20201119_0002_S01_...,0,3,11,"[{'xtl': 1272, 'ytl': 1220, 'xbr': 2229, 'ybr'..."
3,V006_77_0_00_05_03_11_0_b04_20201119_0003_S01_...,0,3,11,"[{'xtl': 1244, 'ytl': 1326, 'xbr': 2136, 'ybr'..."
4,V006_77_0_00_05_03_11_0_b04_20201119_0004_S01_...,0,3,11,"[{'xtl': 1723, 'ytl': 1388, 'xbr': 2514, 'ybr'..."

In [42]:
aug_lettuce = pd.read_csv('./raw_csv/상추_증강_라벨.csv')
aug_lettuce.head()

,image,original,disease,area,grow,points
0,V006_77_1_09_05_03_12_3_0149e_20201028_3_a0008...,V006_77_1_09_05_03_12_3_0149e_20201028_3.jpeg,9,3,12,"[{'xtl': 1112, 'ytl': 0, 'xbr': 2895, 'ybr': 2..."
1,V006_77_1_09_05_03_12_3_0517e_20201014_33_a000...,V006_77_1_09_05_03_12_3_0517e_20201014_33.jpg,9,3,12,"[{'xtl': 1567, 'ytl': 624, 'xbr': 2872, 'ybr':..."
2,V006_77_1_09_05_03_12_2_0517e_20201021_33_a000...,V006_77_1_09_05_03_12_2_0517e_20201021_33.jpg,9,3,12,"[{'xtl': 87, 'ytl': 339, 'xbr': 2320, 'ybr': 2..."
3,V006_77_1_10_05_03_12_2_6855e_20201210_78_a000...,V006_77_1_10_05_03_12_2_6855e_20201210_78.jpeg,10,3,12,"[{'xtl': 31, 'ytl': 355, 'xbr': 2883, 'ybr': 2..."
4,V006_77_1_09_05_03_12_3_0517e_20201110_30_a000...,V006_77_1_09_05_03_12_3_0517e_20201110_30.jpeg,9,3,12,"[{'xtl': 1240, 'ytl': 294, 'xbr': 3317, 'ybr':..."

In [43]:
file_names = ori_lettuce['image'].to_list()
for row_idx in tqdm(range(len(aug_lettuce))):
    ori_img = aug_lettuce.loc[row_idx, 'original'] 
    if ori_img in file_names :
        aug_lettuce.loc[row_idx, 'grow'] = ori_lettuce.loc[file_names.index(ori_img), 'grow']

100%|███████████████████████████████████| 29610/29610 [00:22<00:00, 1332.12it/s]

In [45]:
#check
aug_lettuce['grow'].unique()

array([12, 13, 11])